.ConsultationSection{
    margin-top:  80px;
    width: 100%;
    background-color: #fff;
}
.heading{
    padding: 50px 0px 10px 0px;
}
.txt p{
    font-size: 20px;
    color: #005270;
}
.View-All{
    font-size: 20px;
    color: #005270;
    font-weight: 600;
}
.heading-text h3{
    font-size: 32px;
    font-weight: 700;
    color: #005270;
}
.heading-card{
    padding: 25px 0px;
    box-sizing: border-box;
}
.course-card{
    margin-bottom: 25px;
    width: 100%;
    border: solid red 0px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 8px rgb(13 101 140 / 18%);
   overflow: hidden;
   position: relative;

}
.course-card-image{
width: 100%;
height: 250px;
}
    .img-fluid{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.course-details{
    padding: 10px;
    margin-bottom: 40px;
}
.course-name{
    color: #005270;
    margin-bottom: 0px;
}
.course-duration{
    width: 10%;
}
.course-duration p{
    font-size: 10px;
    margin: 0px 0px 0px 0px;
}
.course-consultations{
    font-size: 16px;
    letter-spacing: -0.02em;
    color: black;
}
.course-price{
    font-size: 15px;
    font-weight: 700;
    color: #005270;
}
.course-footer
{
    position: absolute;
    bottom: 6px;
    width: 92%;
}
.view-course{
    text-align: center;
}
.view-course a{
    background-color: #ef6696;
    margin-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    color: #fff;
    cursor: all-scroll;

    
}